// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import "@fortawesome/fontawesome-free/css/all.css";

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
//functions
@import 'bootstrap/scss/functions';
// Bootstrap



$theme-colors: (
    "primary":    $green-400,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Create your own map
$custom-colors: (
    "custom-color": $indigo-200,
);
$custom-colors: (
    "cons": $blue-600,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Variables
@import 'bootstrap/scss/variables';
